:root{
    --white : hsl(0, 0%, 100%);
    --LightGray : hsl(212, 45%, 89%);
    --grayishBlue : hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
}
body{
    display: flex;
    height: 100vh;
    background-color: var(--LightGray);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: var(--white);
    padding: 16px;
    margin-bottom: 32px;
    border-radius: 16px;
    width: 21vw;
    height: auto;
}
.qrcode{
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
}
.heading{
    text-align: center;
    margin-bottom: 16px;
    font-family: 'Outfit';
    color: var(--darkBlue);
}
.paragraph{
    text-align: center;
    margin-bottom: 16px;
    font-family: 'Outfit';
    color: var(--grayishBlue);
}
a{
    font-family: 'Outfit';
    color: var(--darkBlue);
    font-weight: bold;
}
@media (max-width : 375px)
{
    .container{
        width: 90vw;
    }
}
@media (max-width : 1280px)
{
    .container{
        width: 30vw;
    }
}
@media (max-width : 767px)
{
    .container{
        width: 50vw;
    }
}